.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

/server
/server.exe
/websocket-go
/websocket-go.exe

logs/
*.log

.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

docker-compose.override.yml
.docker/

index.html
sonar-project.properties